<md-dialog aria-label="{{i8n('create_package')}} (i8n('battery'))">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{i8n('create_package')}} ({{i8n('battery')}})</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-icon="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Please select the items ({{total}} Volts)</h2>
                <div flex ng-cloak>

                    <md-card-actions layout="row" layout-align="row">
                        <div flex="" ng-repeat="tile in items">
                            <md-card md-theme-watch>

                                <div ng-click="showCreatePackageDialog($event)"
                                     class="center">
                                    <div layout="row" layout-align="row">
                                        <div flex="">
                                            <md-icon md-svg-src="svg-battery" class="avatar"></md-icon>
                                        </div>
                                        <div flex=""><h1>{{tile.count}}</h1></div>
                                    </div>
                                    <div layout="column" layout-padding layout-align="center end">{{i8n(tile.title) }}<br/></div>
                                    <md-card-actions layout="row" layout-align="column center">
                                        <div flex="">
                                            <md-button ng-click="incrementQnt(tile)"
                                                       class="center md-raised md-warn">
                                                +
                                            </md-button>
                                        </div>
                                        <div flex="">
                                            <md-button ng-click="decrementQnt(tile)" ng-disabled="tile.count==0"
                                                       class="center  md-raised md-primary">
                                                -
                                            </md-button>
                                        </div>
                                    </md-card-actions>
                                </div>
                            </md-card>
                        </div>
                    </md-card-actions>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="total<=0" ng-click="requestPackage(order)" class="md-ink-ripple md-raised md-primary">
                Confirm
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>